<div class="container">
  <div class="card-container">
    <div *ngFor="let item of randomPersonToShow">
      <div class="card">
        <h1>{{ item.name }}</h1>
        <h4>
          Größe: {{ item.height }} <br />
          Geburtsjahr: {{ item.birth_year }}
        </h4>
      </div>
      <button (click)="goToDetail(item.url)">Details</button>
    </div>
  </div>
  <div class="detail-container">
    <div class="detail-content" *ngIf="!isNullOrUndefined(personDetail)">
      <h4>
        Name: {{ personDetail.name }} <br />
        Größe: {{ personDetail.height }} <br />
        Geburtsjahr: {{ personDetail.birth_year }} <br />
        Augenfarbe: {{ personDetail.eye_color }} <br />
        Geschlecht: {{ personDetail.gender }} <br />
        Harrfarbe: {{ personDetail.hair_color }} <br />
        Home world:
        {{ !isNullOrUndefined(homeWorld) ? homeWorld.name : "unkown" }}<br />
      </h4>
    </div>
  </div>
</div>
